<!DOCTYPE html>
<html>
    <head>
        <title>xXx subdomain xXx</title>
        <script type="text/javascript"> // Why is this all on one line? Because the templating language removes it when it's wrong. 1337 hax, you dumb fuck.
            myAudio = new Audio('xXx MUSIC_SRC xXx'); myAudio.addEventListener('ended', function() { this.currentTime = 0; this.play(); }, false); myAudio.play();
        </script>
        <style>
            html {
                background-color: #xXx bg-color xXx;
            }
            img {
                display: block;
                top: 0; right: 0; left: 0; right: 0;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <img src="xXx image xXx" />
    </body>
</html>
