<!DOCTYPE html>
<html>
    <head>
        <title>xXx subdomain xXx</title>
        <script type="text/javascript"> // Why is this all on one line? Because the templating language removes it when it's wrong. 1337 hax, you dumb fuck.
            myAudio = new Audio('xXx MUSIC_SRC xXx'); myAudio.addEventListener('ended', function() { this.currentTime = 0; this.play(); }, false); myAudio.play();
        </script>
        <style>
            html {
                background-color: #xXx bg-color xXx;
                height: 100%;
            }
            body {
                display: table;
                width: 100%;
                height: 100%;
            }
            .center-inner {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="center-inner">
            <img src="xXx image xXx" />
        </div>
    </body>
</html>
